
<h1 fxLayoutAlign="center" style="color: #B71C1C">INFO ENCADRANT</h1>
<h1 style="color: midnightblue"> ID Encadrant: </h1> <h3 fxLayoutAlign="center">{{encadrant.id}}</h3>
<h1 style="color: midnightblue"> CIN Encadrant: </h1><h3 fxLayoutAlign="center"> {{encadrant.cin}}</h3>
<h1 style="color: midnightblue"> NOM et PRENOM Encadrant: </h1><h3 fxLayoutAlign="center"> {{encadrant.nom+ ' '+ encadrant.prenom}}</h3>
<h1 style="color: midnightblue"> ETABLISSEMENT Encadrant: </h1><h3 fxLayoutAlign="center"> {{encadrant.etablissement}}</h3>
<h1 style="color: midnightblue"> GRADE Encadrant: </h1><h3 fxLayoutAlign="center"> {{encadrant.grade}}</h3>
<h1 style="color: midnightblue"> EMAIL Encadrant: </h1><h3 fxLayoutAlign="center"> {{encadrant.email}}</h3>

